body{
    background-color:indianred;
}

div.container .campo{
    position: relative;
    top:50vh;
    
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 25px;
    height: 55px;
}
input.form-control{
    font-size:25px;
    font-weight: bolder;
}